.navbar{
    background-color: #f5b041;
}
.site-name{
    
    color: #e74c3c;
}
.site-menu{
    padding: 10px 30px;
    margin-left: 0%;
}
Sa{
    text-decoration: none;
    color: #1168c0;
    margin: 0px 10px;
}