<div id="main_menu">
    <div id="government">
        <div id="government_table" class="gov_heading">
            <span style="font-size:18px">Government   citizen    Business </span>
        </div>
        <hr>
        <div id="government_table2">
            <ul  type="square">
                <li>Hello</li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <br>
        </div>
    </div>
    <div id="Citizen">
        <div id="citizen_table" class="Citizen_heading">
            <span style="font-size:18px">Citizen</span>
        </div>
        <hr>
        <div id="citizen_table2">
            <ul  type="square">
                <li>Hello</li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>

</div>